services:
  - type: web
    name: jj-electronics-api
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: DB_USER
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_PORT
        sync: false
      - key: PORT
        value: 5000
